In [22]:
import pandas as pd

In [23]:
FILE1 = 'models/14Pol_wd_10Mparam/eval/poleno-28_01022022-01052022.csv'
FILE2 = 'models/14Pol_wd_10Mparam/eval/poleno-28_01052022-01082022.csv'

In [24]:
FILE1 = 'models/14Pol_Rain_10M_param_NEW/eval/poleno-28_01022022-01052022.csv'
FILE2 = 'models/14Pol_Rain_10M_param_NEW/eval/poleno-28_01052022-01082022.csv'

FILE1 = 'models/14Pol_Rain_10M_param_OLD/eval/poleno-28_01022022-01052022.csv'
FILE2 = 'models/14Pol_Rain_10M_param_OLD/eval/poleno-28_01052022-01082022.csv'

In [25]:
df1 = pd.read_csv(FILE1, index_col=0, parse_dates=True)
df1.head()

,event_id,pred_class,pred_certainty
event_timestamp,,,
2022-02-10 17:12:38.816550144,11ec8a94-ac65-1562-86e4-0242ac130064,Populus,0.757258
2022-02-14 07:39:26.593077760,11ec8d69-42be-a5b0-86e4-0242ac130064,Taxus,0.344766
2022-02-17 15:41:43.745119232,11ec9008-1be9-f1dc-86e4-0242ac130064,Ulmus,0.510319
2022-02-18 12:34:35.645493248,11ec90b7-21d4-f9b6-86e4-0242ac130064,Corylus,0.591911
2022-03-03 20:59:50.119373056,11ec9b34-de06-d92e-86e4-0242ac130064,Taxus,0.788506

In [26]:
df2 = pd.read_csv(FILE2,index_col=0, parse_dates=True)
df2.head()

,event_id,pred_class,pred_certainty
event_timestamp,,,
2022-05-07 12:05:10.959494144,11eccdfd-f22d-b340-9be1-0242ac130064,Pinaceae,0.954794
2022-05-10 01:28:07.301137152,11ecd000-7262-25ec-9be1-0242ac130064,Pinaceae,0.999999
2022-05-11 07:44:00.530869504,11ecd0fe-1f95-043e-9be1-0242ac130064,Pinaceae,0.826045
2022-05-16 16:57:18.160463360,11ecd539-3efc-55cc-9be1-0242ac130064,Plantanus,0.542949
2022-05-20 13:55:19.273054720,11ecd844-7c73-8ea8-aaf5-0242ac130064,Pinaceae,0.996490

In [27]:
df = pd.concat([df1, df2])
df

,event_id,pred_class,pred_certainty
event_timestamp,,,
2022-02-10 17:12:38.816550144,11ec8a94-ac65-1562-86e4-0242ac130064,Populus,0.757258
2022-02-14 07:39:26.593077760,11ec8d69-42be-a5b0-86e4-0242ac130064,Taxus,0.344766
2022-02-17 15:41:43.745119232,11ec9008-1be9-f1dc-86e4-0242ac130064,Ulmus,0.510319
2022-02-18 12:34:35.645493248,11ec90b7-21d4-f9b6-86e4-0242ac130064,Corylus,0.591911
2022-03-03 20:59:50.119373056,11ec9b34-de06-d92e-86e4-0242ac130064,Taxus,0.788506
...,...,...,...
2022-06-18 17:03:33.860491008,11ecef28-9c7a-6186-8297-0242ac130064,Betula,0.766403
2022-06-20 18:13:55.771264768,11ecf0c4-bfcb-52ec-8297-0242ac130064,Betula,0.700648
2022-07-16 23:49:00.009010176,11ed0561-dd45-1df1-8cf1-0242ac2a0064,Populus,0.346257
2022-07-19 03:04:00.269073408,11ed070f-7000-6ade-ae29-0242ac2a0064,Populus,0.621188
2022-07-19 20:56:41.151852800,11ed07a5-4a13-0144-91e8-0242ac2a0064,Quercus,0.805649

In [28]:
OUTPUT = 'models/14Pol_Rain_10M_param_NEW/eval/poleno-28_01022022-01082022.csv'

OUTPUT = 'models/14Pol_Rain_10M_param_OLD/eval/poleno-28_01022022-01082022.csv'

In [29]:
df.to_csv(OUTPUT)

In [30]:
test = pd.read_csv(OUTPUT)

In [31]:
test

,event_timestamp,event_id,pred_class,pred_certainty
0,2022-02-10 17:12:38.816550144,11ec8a94-ac65-1562-86e4-0242ac130064,Populus,0.757258
1,2022-02-14 07:39:26.593077760,11ec8d69-42be-a5b0-86e4-0242ac130064,Taxus,0.344766
2,2022-02-17 15:41:43.745119232,11ec9008-1be9-f1dc-86e4-0242ac130064,Ulmus,0.510319
3,2022-02-18 12:34:35.645493248,11ec90b7-21d4-f9b6-86e4-0242ac130064,Corylus,0.591911
4,2022-03-03 20:59:50.119373056,11ec9b34-de06-d92e-86e4-0242ac130064,Taxus,0.788506
...,...,...,...,...
1198972,2022-06-18 17:03:33.860491008,11ecef28-9c7a-6186-8297-0242ac130064,Betula,0.766403
1198973,2022-06-20 18:13:55.771264768,11ecf0c4-bfcb-52ec-8297-0242ac130064,Betula,0.700648
1198974,2022-07-16 23:49:00.009010176,11ed0561-dd45-1df1-8cf1-0242ac2a0064,Populus,0.346257
1198975,2022-07-19 03:04:00.269073408,11ed070f-7000-6ade-ae29-0242ac2a0064,Populus,0.621188
1198976,2022-07-19 20:56:41.151852800,11ed07a5-4a13-0144-91e8-0242ac2a0064,Quercus,0.805649

In [39]:
FILE = 'validation_input/hirst/hirst_PLZ_01082019-09302022.csv'

In [40]:
df = pd.read_csv(FILE)

In [50]:
import matplotlib
%matplotlib inline
df.set_index('reference')['4839'].loc[.plot()

SyntaxError: invalid syntax (<ipython-input-50-70d76b352e38>, line 3)

In [51]:
df['4839'].isna().sum()

0

In [ ]:
df